* {
	margin: 0;
	padding: 0;
}

body {
	background-color: #f5f5f5;
	margin: 0;
}

.header {
	position: fixed;
    left: 0;
    right: 0;
    height: 64px;
    z-index: 1005;
    background: #fff;
    color: rgba(49,51,53,0.6);
    -webkit-box-shadow: 0 1px 3px 0 rgba(0,0,0,0.33);
    box-shadow: 0 1px 3px 0 rgba(0,0,0,0.33);
}

.logo a {
	text-decoration: none;
	text-align: center;
	line-height: 64px;
	color: black;
}

.main-menu {

}

.main-menu ul {
	list-style-type: none;
}

.main-menu ul li {
	display: inline;
	margin: 0 10px;
}

.main-menu ul li a {

}

.menu-normal {
	line-height: 64px;
	float: left;
}

.menu-normal li a {
	font-size: 20px;
}

.menu-post-problem {
	float: right;
	line-height: 64px;
	margin: 0 20px;
}

.account {
	height: 64px;
}

.account .avatar {
	float: left;
	height: 64px;
	margin: 5px;
}

.account .avatar img {
	width: 52px;
	height: 52px;
}

.account .info {
	padding: 15px 10px;
	float: left;
}

.account .info .username {
	font-weight: bold;
	color: black;
}

.account .info .credit {
	color: blue;
}

.container {
	position: relative;
    width: 100%;
    left: 0;
    padding-top: 64px;
}

.box {
	border-radius: 2px;
    -webkit-box-shadow: 0 1px 3px 0 rgba(0,0,0,0.33);
    box-shadow: 0 1px 3px 0 rgba(0,0,0,0.33);
	padding: 10px;
	margin: 10px;
	background: white;
}

.post-problem {
	text-decoration: none;
	background: #33cc66;
    color: #ffffff;
    border: 1px solid #32be64;
    box-shadow: none;
    -webkit-box-shadow: none;
    text-shadow: none;
    padding: 10px 18px;
    font-size: 16px;
    font-weight: 600;
    text-transform: initial;
    letter-spacing: -0.02em;
    line-height: 24px;
    letter-spacing: -0.02em;
}

.column-left{ 
	float: left; width: 20%; 
}
.column-right{
	float: right; width: 20%; 
}
.column-center{
	display: inline-block; width: 60%;
}

.tool .search {
	float: left;
	width: 40%;
}

.search-box {
	padding: 3px;
	width: 200px;
}

.btn-search {
	padding: 3px 15px;
}

.tool .filter-sort {
	float: right;
	width: 40%;
}

.sort-by {
	float: right;
}

.sort-by-box {
	padding: 3px;
}

.filter-by {
	float: left;
}

.filter-by-box {
	padding: 3px;
}

.list-item {
	margin-top: 20px;
}

.item {
	padding: 15px 10px;
	margin: 5px 0;
	border-bottom: 1px solid #DEDEDE;
}

.item-special {
	border: 1px solid #7fd5e8;
	margin: 5px 0;
}

.item .item-left {
	float: left;
	width: 75%;
}

.item .item-right {
	float: right;
	width: 25%;
}

.item .summary {
	float: right;
}

.item .summary ul {
	list-style-type: none;
}

.item .summary ul li {
	padding: 5px;
}

.item .summary ul li .icon {
	line-height: 20px;
}

.item .summary ul li .data {
	margin-left: 10px;
}

.item-category {
	float: left;
	line-height: 32px;
}

.item-description {
	padding: 10px 0;
}

.skill-list {

}


.problem-tag a {
	padding: 5px;
	background-color: #0088CC;
	color: white;
	margin: 0 5px;
}

.owner {
	float: right;
	width: 30%;
	line-height: 32px;
}

.owner .avatar {
	float: left;
}

.owner .avatar img {
	width: 32px;
	height: 32px;
	float: left;
}

.owner .name{
	padding-left: 8px;
	overflow: hidden;
}

.owner .status {
	float: right;
	line-height: 32px;
}

.status .sta-online {
	background: rgb(66, 183, 42); 
	border-radius: 50%; 
	display: inline-block; 
	height: 6px; 
	margin-left: 4px; 
	width: 6px;
}

.special-banner {
    color: #fff;
    font-size: 12px;
    text-transform: uppercase;
    position: relative;
    float: right;
    right: -20px;
    top: 0;
}

.special-banner .banner-featured-job {
    background: url(../img/banner-featured-job-joblist.png) no-repeat;
    background-position: 0 0;
    width: 82px;
    height: 25px;
    padding: 3px 18px;
    text-align: right;
}

.footer {
	display: flex;
	background-color: #bdc3c7;
	padding: 10px;
}

.footer .column {
    flex: 1;
    box-sizing: border-box;
}

.footer .column-one {
    order: 1;
}
.footer .column-two {
    order: 2;
}
.footer .column-three {
    order: 3;
}
.footer .column-four {
    order: 4;
}
.footer .column-five {
    order: 5;
}

.clear-both {
	clear: both;
}

.view-more {
	text-align: center;
}

.active {
	color: red;
}

ul {
	list-style-type: none;
}

a {
	text-decoration: none;
}

.ads .ads-item {
	padding: 15px 0;
    border-bottom: 1px solid #DEDEDE;
}

.ads h2 {
	padding: 5px;
}

.ads .title {
	padding: 5px 0;
}

.hide {
	display: none;
}

.sub-cat-1 li:hover .sub-cat-2 {
	visibility: visible;
}


.cat li:hover .sub-cat-1{
	visibility: visible;
}

.cat li .sub-cat-1 {
	background-color: #2ecc71;
	margin-left: 120px;
	margin-top: -20px;
	list-style: none;
	padding: 0px;
	visibility: hidden;
	position: absolute;
}

.sub-cat-1 li .sub-cat-2 {
	background-color: #2ecc71;
	margin-left: 120px;
	margin-top: -20px;
	list-style: none;
	padding: 0px;
	visibility: hidden;
	position: absolute;
}